/deepdive
.idea
data

# Android
android/.gradle/
android/.idea/
android/local.properties
android/**/build/
*.iml

*.db
client-ca.key
client-ca.pem
client-ca.srl
client.csr
client.ext
client-key.pem
client.pem
provisioning/

out.txt

